<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:component-scan base-package="com.hb.redis">
		<!-- <context:include-filter type="regex" expression=".*Stub.*Repository"/>
		<context:exclude-filter type="annotation" expression="com.hb.redis.work.util"/> -->
	</context:component-scan>
	
	 <!-- 扫描controller（controller层注入） -->
   <context:component-scan base-package="cn.springmvc.controller"/>
	
	<import resource="classpath:config/spring-redis.xml"/>
	
	<import resource="classpath:config/spring-mybatis.xml"/>
	
</beans>